.first .badge:nth-child(1) {
  background: url(../img/badge/badge_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(2) {
  background: url(../img/badge/badge_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(3) {
  background: url(../img/badge/badge_3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(4) {
  background: url(../img/badge/badge_4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(5) {
  background: url(../img/badge/badge_5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(6) {
  background: url(../img/badge/badge_6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(7) {
  background: url(../img/badge/badge_7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(8) {
  background: url(../img/badge/badge_8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.first .badge:nth-child(9) {
  background: url(../img/badge/badge_9.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}




.second .badge:nth-child(1) {
  background: url(../img/badge/badge_10.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(2) {
  background: url(../img/badge/badge_11.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(3) {
  background: url(../img/badge/badge_12.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(4) {
  background: url(../img/badge/badge_13.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(5) {
  background: url(../img/badge/badge_14.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(6) {
  background: url(../img/badge/badge_15.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(7) {
  background: url(../img/badge/badge_16.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(8) {
  background: url(../img/badge/badge_17.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(9) {
  background: url(../img/badge/badge_18.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.second .badge:nth-child(10) {
  background: url(../img/badge/badge_19.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}




.third .badge:nth-child(1) {
  background: url(../img/badge/badge_20.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(2) {
  background: url(../img/badge/badge_21.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(3) {
  background: url(../img/badge/badge_22.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(4) {
  background: url(../img/badge/badge_23.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(5) {
  background: url(../img/badge/badge_24.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(6) {
  background: url(../img/badge/badge_25.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(7) {
  background: url(../img/badge/badge_26.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(8) {
  background: url(../img/badge/badge_27.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.third .badge:nth-child(9) {
  background: url(../img/badge/badge_28.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}




.fourth .badge:nth-child(1) {
  background: url(../img/badge/badge_29.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(2) {
  background: url(../img/badge/badge_30.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(3) {
  background: url(../img/badge/badge_31.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(4) {
  background: url(../img/badge/badge_32.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(5) {
  background: url(../img/badge/badge_33.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(6) {
  background: url(../img/badge/badge_34.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(7) {
  background: url(../img/badge/badge_35.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(8) {
  background: url(../img/badge/badge_36.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(9) {
  background: url(../img/badge/badge_37.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth .badge:nth-child(10) {
  background: url(../img/badge/badge_38.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}



.fifth .badge:nth-child(1) {
  background: url(../img/badge/badge_39.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(2) {
  background: url(../img/badge/badge_40.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(3) {
  background: url(../img/badge/badge_41.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(4) {
  background: url(../img/badge/badge_42.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(5) {
  background: url(../img/badge/badge_43.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(6) {
  background: url(../img/badge/badge_44.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(7) {
  background: url(../img/badge/badge_45.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(8) {
  background: url(../img/badge/badge_46.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.fifth .badge:nth-child(9) {
  background: url(../img/badge/badge_47.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}